<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PID_Control_Playground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PID_Control_Playground.Properties.Settings>
            <setting name="maxInputFlowRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="beginningInputFlowRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputFlowRate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="beginingTankLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setPointLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="proportionalConstant" serializeAs="String">
                <value>0.07</value>
            </setting>
            <setting name="integralConstant" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="derivativeConstant" serializeAs="String">
                <value>-0.15</value>
            </setting>
            <setting name="tankMaximumConstant" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="cyclesToSimulate" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="cyclesBetweenInputFlowRateUpdate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="itemsToGraph" serializeAs="String">
                <value>Set Point,Current Level</value>
            </setting>
        </PID_Control_Playground.Properties.Settings>
    </userSettings>
</configuration>